---
import '../../base.css'
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout>
	<p class="text-3xl text-light-color-accent dark:text-dark-color-accent py-4">Test</p>
	<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus aliquid laborum quis quasi, cumque porro consequuntur labore, velit veritatis voluptatum culpa quibusdam ex earum enim consectetur excepturi nihil doloremque ducimus repellat ullam, eos aperiam illo est nesciunt? Quasi, voluptas animi odit debitis similique fugit praesentium recusandae aliquid omnis ratione dolore!</p>
</BaseLayout>
